body {
    background-color: #FEFAEF !important;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
}

.quiz-card {
    width: 30rem;
    background-color: #F7F7F7;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 20rem;
}

.logo-img {
    width: 48px;
}

#quiz-question {
    width: 100%;
    display: flex;
    justify-content: center;
}

h5 {
    font-family: Rubik;
    font-size: 20px;
    color: white !important;
}

.sidebar {
    background-color: #27355C;
}

.headlines-home-page{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    padding-top: 20%;
}

.headlines-home-page h3{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 150%;
}

.headlines-home-page h4{
    font-size: 100%;
}

.quiz-answer-card {
    width: 75%;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.backgrd_gr {
    background-color: #B7F799 !important;
}

.backgrd_red {
    background-color: #FFA3A4 !important;
}

.answer-letter {
    background-color: #D6D6D6;
    padding: 4px 10px;
    margin-left: 16px;
}

.disable-arrow{
    pointer-events:none
}

.enable-arrow{
    pointer-events: all;
}

.arrow-left {
    left: 8px;
}

.arrow-right {
    right: 8px;
}

.arrow {
    position: absolute;
    bottom: -40px;
    height: 30px;
    background-color: #D9DEF2;
    border-radius: 50%;
}

.arrow:hover {
    cursor: pointer;
    background-color: #d9def2d2;
}

.nav-links-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
}

.nav-links-sidebar span {
    width: 100%;
    padding-left: 24px;
    margin-top: 8px;
    color: #939EBE;
    cursor: pointer;
}

.highlight {
    border-left: 4px solid white;
    color: white !important;
    padding-left: 20px !important;
}

.start-button{
    background-color: #ff4d11;
    border: none;
    padding-left: 6%;
    padding-right: 6%;
}

.start-button:hover{
    background-color: #ff4d11e0;
}

.arrow-css {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: -webkit-inline-box;
    height: 12px;
    width: 12px;
    padding: 3px;
}

.turn-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.result-headline h2{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.font-size-20 {
    font-size: 20px;
}

.result-headline{
    width: 100%;
    margin-bottom: 5%;
}

.result-headline img{
    width: 20%;
    margin-bottom: 3%;
}

.result-headline h2{
    font-weight: bold;
}

.your-score{
    color: #e78638;
}

.end-result{
    font-weight: bold;
    margin-bottom: 5%;
}
